@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

.landingHero {
    background: linear-gradient(#00000040, #00000040), url('/cover-image.webp');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
}

.logotype {
    height: 380px;
    width: auto;
    margin: -5vh 0 5vh 0;
}

.yellowButton {
    background-color: #F7FF19;
    color: #000;
    font-family: "Archivo Black", Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: xxx-large;
    padding: 0.8vh 2.5vw;
    border-radius: 16px;
}

.yellowButton:hover {
    outline: 6px solid #ffffffab;
    outline-offset: 6px;
}

@media (max-width: 768px) {
    .logotype {
        height: 20vh;
        width: auto;
    }

    .yellowButton {
        font-size: xx-large;
    }

    .yellowButton:hover {
        outline: 4px solid #ffffffab;
        outline-offset: 4px;
    }

}