@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

.landingHero {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
}

.logotype {
    height: 380px;
    width: auto;
    margin: -5vh 0 5vh 0;
}

@media (max-width: 768px) {
    .logotype {
        height: 20vh;
        width: auto;
    }

}